.THIS {
}

.THIS .notificationButton {
    background : transparent !important;
	background-color : transparent !important;
    border: 0px solid transparent !important;
    width : 40px;	
}

.THIS .counterLabelContainer {
    position: absolute;
    top: -.125rem;
    right: -.25rem;
    border-radius: .5rem;
    background-color: rgb(194, 57, 52);
}

.THIS .counterLabelContainerHidden {
    display : none;
}

.THIS .counterLabel {
    line-height: 1;
    width: 1rem;
    height: 1rem;
    padding: 0 .25rem;
    color: rgb(255, 255, 255);
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-weight: 700;
    font-size: .625rem;
    vertical-align: middle;
    display: table-cell;
}

.THIS .uiPanel.open, .THIS .uiPanel.transitioning {display:block}
.THIS .uiPanel.open {opacity:1}
.THIS .uiPanel.transitioning {-webkit-transition:opacity 2s; transition:opacity 2s}
.THIS .uiPanel .container {position:relative; z-index:2}
.THIS .uiPanel>.pointer {z-index:1; width:calc(1.25rem + .0625rem); height:calc(1.25rem + .0625rem); -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); border-top:1px solid #d8dde6; border-left:1px solid #d8dde6; background:#fff; position:absolute; top:0; left:0}
.THIS .uiPanel.east>.pointer {border:0; border-left:1px solid #d8dde6; border-bottom:1px solid #d8dde6}
.THIS .uiPanel.west>.pointer {border:0; border-right:1px solid #d8dde6; border-top:1px solid #d8dde6}
.THIS .uiPanel.north>.pointer {border:0; border-bottom:1px solid #d8dde6; border-right:1px solid #d8dde6}
.THIS .uiPanel div[role=document] {overflow:hidden; height:100%}
.THIS .uiPanel .content {padding:1px 14px}
.THIS .uiPanel .uiButton.closeBtn {position:absolute; right:0; font-family:Arial; font-size:25px; overflow:visible; background:transparent; border:none; box-shadow:none; top:0; z-index:1}
.THIS .uiPanel .panel-header {position:relative}
.THIS .uiPanel .panel-content {overflow:auto; -webkit-overflow-scrolling:touch; height:100%}
.THIS .uiPanel .IOS.container .panel-content>* {-webkit-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
.THIS .uiPanel.transitioning {-webkit-transition:-webkit-transform .3s linear,opacity .2s linear; transition:transform .3s linear,opacity .2s linear}
.THIS .uiPanel.movefrombottom {visibility:visible; -webkit-animation:movefrombottom .2s ease both; animation:movefrombottom .2s ease both}
.THIS .uiPanel.movetobottom {visibility:visible; -webkit-animation:movetobottom .2s ease both; animation:movetobottom .2s ease both}
.THIS .uiPanel.movefromtop {visibility:visible; -webkit-animation:movefromtop .2s ease both; animation:movefromtop .2s ease both}
.THIS .uiPanel.movetotop {visibility:visible; -webkit-animation:movetotop .2s ease both; animation:movetotop .2s ease both}
.THIS .uiPanel.movefromleft {visibility:visible; -webkit-animation:movefromleft .2s ease both; animation:movefromleft .2s ease both}
.THIS .uiPanel.movetoleft {visibility:visible; -webkit-animation:movetoleft .2s ease both; animation:movetoleft .2s ease both}
.THIS .uiPanel.movefromright {visibility:visible; -webkit-animation:movefromright .2s ease both; animation:movefromright .2s ease both}
.THIS .uiPanel.movetoright {visibility:visible; -webkit-animation:movetoright .2s ease both; animation:movetoright .2s ease both}
.THIS .uiPanel.movefromcenter {visibility:visible; -webkit-animation:movefromcenter .2s linear; animation:movefromcenter .2s linear}
.THIS .uiPanel.movetocenter {visibility:visible; -webkit-animation:movetocenter .2s linear; animation:movetocenter .2s linear}
.THIS .uiPanel.movefrompop {visibility:visible; -webkit-animation:movefrompop .2s linear; animation:movefrompop .2s linear}
.THIS .uiPanel.movetopop {visibility:visible; -webkit-animation:movetopop .2s ease both; animation:movetopop .2s ease both}
.THIS .uiPanel--default.positioned {border:1px solid #d8dde6; -webkit-filter:drop-shadow(0px 2px 3px rgba(0,0,0,0.16)); -webkit-filter:drop-shadow(0px 2px 3px rgba(0,0,0,0.16))}
.THIS .uiPanel--default .panel-header .title {padding:1.5rem 1rem; text-align:center}
.THIS .uiPanel--full-screen {position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%}

.THIS .unsNotificationsList .titleContainer {height:48px; width:100%; padding:.75rem; border-bottom:1px solid; border-color:rgb(216, 221, 230); display:-webkit-inline-box; display:-webkit-inline-flex; display:-ms-inline-flexbox; display:inline-flex; -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between; -webkit-align-items:center; -ms-flex-align:center; align-items:center}
.THIS .unsNotificationsList .titleName {min-width:20%; font-weight:300; font-size:1rem; color:rgb(22, 50, 92); white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.THIS .unsNotificationsList .titleOptions {min-width:40%; font-weight:400; font-size:.75rem; color:rgb(0, 112, 210); display:-webkit-inline-box; display:-webkit-inline-flex; display:-ms-inline-flexbox; display:inline-flex; -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end}
.THIS .unsNotificationsList .titleAction a {min-width:20%; padding:.5rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.THIS .unsNotificationsList .titleAction a:focus, .THIS .unsNotificationsList .titleAction a:hover {outline:none; text-decoration:underline}
.THIS .unsNotificationsList .notificationsTray {overflow:auto; max-height:530px}

.THIS .unsNotificationsTray .listRows {overflow:auto}
.THIS .unsNotificationsTray ul {padding:0; margin:0}
.THIS .unsNotificationsTray li {list-style:none}

.THIS .unsNotificationsListRow a:hover, .THIS .unsNotificationsListRow a:focus {text-decoration:none}
.THIS .unsNotificationsListRow:first-child {border-top-left-radius:.25rem; border-top-right-radius:.25rem}
.THIS .unsNotificationsListRow:last-child {border-bottom:1px solid; border-bottom-left-radius:.25rem; border-bottom-right-radius:.25rem}
.THIS .unsNotificationsListRow.notification-unread {background-color:rgb(240, 248, 252)}
.THIS .unsNotificationsListRow.notification-unread:hover {background-color:rgb(244, 246, 249)}
.THIS .unsNotificationsListRow.notification-read {background-color:rgb(255, 255, 255)}
.THIS .unsNotificationsListRow.notification-read:hover {background-color:rgb(244, 246, 249)}
.THIS .unsNotificationsListRow.notification-row {height:100%; border-color:rgb(216, 221, 230)}
.THIS .unsNotificationsListRow .notification-link {display:block; padding:.75rem .75rem 1rem .75rem}
.THIS .unsNotificationsListRow .notification-avatar {margin-right:.75rem; float:left}
.THIS .unsNotificationsListRow .notification-icon {width:30px; height:30px; border-radius:.25rem}
.THIS .unsNotificationsListRow .notification-content {overflow:hidden}
.THIS .unsNotificationsListRow .notification-text-title {display:block; color:rgb(22, 50, 92); font-weight:700; font-size:.8125rem}
.THIS .unsNotificationsListRow .notification-text {display:block; color:rgb(22, 50, 92); font-weight:400; font-size:.8125rem; margin:0 0 1rem 0; word-wrap:break-word}
.THIS .unsNotificationsListRow .notification-age {color:rgb(84, 105, 141); font-size:.75rem}
.THIS .unsNotificationsListRow .notification-content-hidden {display:none}
.THIS .unsNotificationsListRow .assistive-unread-mark {color:rgb(84, 105, 141)}
.THIS .unsNotificationsNoItemsMessage.noNotifications {display:block; color:rgb(84, 105, 141); box-shadow:0 2px 3px 0 rgba(0,0,0,.16); font-size:.8125rem; font-weight:400; text-align:center; padding:20px}

.THIS .uiAbstractList .emptyListContent {display:none}
.THIS .uiAbstractList.showEmptyContent:not(.loading) .emptyListContent {display:block}
.THIS .uiAbstractList .loadingIndicator {display:none; height:100%; min-height:2.5rem; left:0; position:absolute; text-align:center; top:0; width:100%; z-index:80}
.THIS .uiAbstractList.loading {min-height:2.5rem}
.THIS .uiAbstractList.loading .loadingIndicator {display:block}
.THIS .uiAbstractList .loadingIndicator .background {background-color:#fff; height:100%; left:0; opacity:.6; -ms-filter:alpha(opacity=60); filter:alpha(opacity=60); display:inline; position:absolute; top:0; width:100%; z-index:0; zoom:1}
.THIS .uiAbstractList .loadingIndicator .label {background-image:url('/auraFW/resources/aura/images/spinner.gif'); background-position:left top; background-repeat:no-repeat; color:#666; display:inline-block; font-weight:bold; line-height:normal; height:32px; padding-left:32px; padding-top:9px; position:relative; text-shadow:.1em .1em .01em #fff,.1em -.1em .01em #fff,-.1em -.1em .01em #fff,-.1em .1em .01em #fff; z-index:1; zoom:1; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%)}